#table{
	display: table;
	width: 50%;
	height: 1000%;
	margin-left: auto;
	margin-right: auto; 
	background-color: #E0E0E0;
        margin: auto;
        margin-top: 25%;

}
#cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#divcenter{
	margin: 15%;
}
#divmarg{
	margin: 15px;
}
#navmarg{
	margin-bottom: 0%;
}
#divbtn{
	margin: 15px;
	text-align: center;
	display: inline-block;
}