/*Encabezado*/
#encabezado {background-color: #000; text-align: center; color: white; width: 100%; font-family: 'Coco Gothic'; font-size: 1.5rem; padding-top: 3px; letter-spacing: 3px; margin-top:120px; margin-bottom: 20px;}
#encabezado:hover {opacity: 0.8;}
/*Filtros*/
.size-filter {border: 1px black solid; background: white;}
.size-filter:active {border: 1px black solid; background: black; color: white;}
.filters {padding-right: 10%;}
/*TEST*/
div#imagen {width: 300px; height: 370px; background-size: cover;/*sólo para ejemplo*/ background-image: url("../Image/invierno.JPG"); margin: 0px; display: inline-block;}
div#imagen1 {width: 300px; height: 370px; background-size: cover;/*sólo para ejemplo*/ background-image: url("../Image/primav.jpeg"); margin: 0px; display: inline-block;}
div#info {position:absolute; overflow:hidden; width: 300px; height: 370px; background-color: rgba(31, 31, 31, 0.9); opacity:0; transition: opacity 0.3s; color: white;}
div#info1 {position:absolute; overflow:hidden; width: 300px; height: 370px; background-color: rgba(31, 31, 31, 0.9); opacity:0; transition: opacity 0.3s; color: white;}
div#imagen:hover div#info {opacity:1;}
div#imagen1:hover div#info1 { opacity: 1;}
p#headline {position: absolute; font-size: 1.5rem; margin-left: -15px; margin-top: 15px; transition: margin-left 0.3s; font-family: 'Coco Gothic'}
p#headline1 {position: absolute; font-size: 1.5rem; margin-left: -15px; margin-top: 15px; transition: margin-left 0.3s; font-family:'Coco Gothic';}
div#imagen:hover p#headline {margin-left: 55px;}
div#imagen1:hover p#headline1 {margin-left: 40px;}
p#descripcion {font-size: 1rem; text-align: center; margin-top: 200px; transition: margin-top 0.4s; font-family:'Coco Gothic';}
p#descripcion1 {font-size: 1rem; text-align: center; margin-top: 200px; transition: margin-top 0.4s; font-family:'Coco Gothic';}
div#imagen:hover p#descripcion {margin-top: 75px;}
div#imagen1:hover p#descripcion1 {margin-top: 75px;}

/*---------------------------*/
/*   MASONRY GALLERY STYLE   */
/*---------------------------*/
.masonry-container-image{margin-bottom: 10%}

.mdc-button{
    @include mdc-button-base_;
    @iclude mdc-button-ink-color(secundary);
}

.my-masonry-image-list {
    -webkit-column-count: 6;
    column-count: 5;
    -webkit-column-gap: 16px;
    column-gap: 16px;
    max-width: 90%;
}
.mdc-image-list--masonry{
    display: block;
}
.masonry-image-list .mdc-image-list__item{
    margin-bottom: 16px;
}
.mdc-image-list--masonry .mdc-image-list__image{
    display: block;
    height: auto;
}
.mdc-image-list__image{
    width: 100%;
}
.mdc-image-list__supporting{
    padding: 16px 0;
}
.mdc-card{
/*    background-color: black;*/
    padding: 2px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.mdc-image-list__supporting{
    color: black;
    align-items: center;
    text-align: center !important;
    position: relative;
    /*display: flex;*/
    justify-content: center; 
}
@media only screen and (max-width: 600px) {
    .my-masonry-image-list{
        column-count: 2;
    }
    .masonry-container-image{
        margin-bottom: 130px !important;
    }
}