/*Encabezado*/
#encabezado {background-color: #000; text-align: center; color: white; 
             width: 100%; font-family: 'Lucida Console'; font-size: 1.5rem; 
             padding-top: 3px; letter-spacing: 3px; margin-top: 120px; margin-bottom: 20px;}
#encabezado:hover {opacity: 0.8;}
/*Filtros*/
.size-filter {border: 1px black solid; background: white;}
.size-filter:active {border: 1px black solid; background: black; color: white;}
.filters {padding-right: 10%;}
/*TEST*/
/*div#imagen {width: 300px; height: 370px; background-size: cover;sólo para ejemplo background-image: url("../Image/invierno.JPG"); margin: 0px; display: inline-block;}
div#imagen1 {width: 300px; height: 370px; background-size: cover;sólo para ejemplo background-image: url("../Image/primav.jpeg"); margin: 0px; display: inline-block;}
div#info {position:absolute; overflow:hidden; width: 300px; height: 370px; background-color: rgba(31, 31, 31, 0.9); opacity:0; transition: opacity 0.3s; color: white;}
div#info1 {position:absolute; overflow:hidden; width: 300px; height: 370px; background-color: rgba(31, 31, 31, 0.9); opacity:0; transition: opacity 0.3s; color: white;}
div#imagen:hover div#info {opacity:1;}
div#imagen1:hover div#info1 { opacity: 1;}
p#headline {position: absolute; font-size: 1.5rem; margin-left: -15px; margin-top: 15px; transition: margin-left 0.3s; font-family: 'Coco Gothic'}
p#headline1 {position: absolute; font-size: 1.5rem; margin-left: -15px; margin-top: 15px; transition: margin-left 0.3s; font-family:'Coco Gothic';}
div#imagen:hover p#headline {margin-left: 55px;}
div#imagen1:hover p#headline1 {margin-left: 40px;}
p#descripcion {font-size: 1rem; text-align: center; margin-top: 200px; transition: margin-top 0.4s; font-family:'Coco Gothic';}
p#descripcion1 {font-size: 1rem; text-align: center; margin-top: 200px; transition: margin-top 0.4s; font-family:'Coco Gothic';}
div#imagen:hover p#descripcion {margin-top: 75px;}
div#imagen1:hover p#descripcion1 {margin-top: 75px;}*/
.container {
  position: relative;
  width: 22%;
  display: inline-block;
}
#img0{height: 375px;}
#img1{height: 375px;}

.image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*---------------------------*/
/*   MASONRY GALLERY STYLE   */
/*---------------------------*/

.my-masonry-image-list {
    -webkit-column-count: 6;
    column-count: 5;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    max-width: 95%;
    
}

.mdc-card{
    padding: 2px;
    margin-bottom: 5px;
   }

@media only screen and (max-width: 600px) {
    .my-masonry-image-list{
        column-count: 2;
    }
    .masonry-container-image{
        margin-bottom: 130px !important;
    }
}
@media only screen and (max-width: 768px){
    .container{ 
        width: 90%;
        display: block;
        margin-bottom: 10px;
    }
}

/*.mdc-card__action--icon:not(:disabled), .mdc-card__action--icon:focus {
     color: #BDBDBD !important;     
     background-color: transparent !important;
}
.mdc-card__action--icon:hover{
    color: white !important;
    background-color: black !important;
    border-radius: 50%;
}
.mdc-card__action--icon:active{
    color: blue !important;
    background-color: #FAFAFA !important;
    border-radius: 50%;
}*/
/*---------------------------------*/
/*   STYLE MODAL ENVIAR CONSULTA   */
/*---------------------------------*/

.consulta-msj{
    border-style: solid;
    border-color: #ced4da;
    border-radius: 5px;
    border-width: 1px;
}
.inp:disabled{
    border: none !important;
    background-color: transparent !important;
}
.txtarea{
    border: none! important;
}
.txt-obligatorio {
    color: red ;
}
/*-------------------------------------
       ESTILO IMAGEN GRANDE
-------------------------------------*/

#myImg {
    /*border-radius: 5px;*/
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 130px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: white;
    padding: 10px 0;
    height: auto;

}

/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close-img {
    position: absolute;
    top: 195px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.closebtn {
    position: absolute;
    top: 85px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.modal-img>div{
    /*position: relative;*/
    bottom:105px;
    color:#fff;
    background-color:black;
    padding:2px 10px;
    opacity:0.9;
    font-size: larger;
    font-weight:400;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}