.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: black;}
#imgMin{width:200px; height: 136px;}
/*.row {border: 1px solid grey; margin-right: auto; margin-left: auto; background-color: snow; opacity: 0.9; margin-top: 1%; margin-bottom: 1%; width: 70%;}*/
#cont {padding-right: 2%; padding-left: 2%;}
body,html{height: 100%; width: 100%; padding: 0; margin: 0;}
/* style admin */ 
#imgMin{width:200px; height: 136px;}
.container-fluid{opacity: 0.9;}
.btn-default {float: right;} 
.btn-default:hover, .btn-default:active {background-color: black; color: white;}
#txt {color: white; padding-top: 15px;}
#aMenu {text-align: right;}
.rowWidth{ width: 30px; }
.modals{margin-top: 120px; height: 70%;}
.labelSize{font-size: medium; font-weight: normal;}
.btn-transparente{ background-color: transparent;}
.centrar{ margin-left: auto; margin-right: auto;}

/*style nombre user logeado*/

/*@media (max-width: 4096px) and (min-width: 1280px) {
    .user{margin-left: 70%}
}*/
/*style btn agregar producto*/
.btn-agregar{float: right; display: inline-block !Important; margin-top: 5px; margin-bottom: 5px}
.input-group{margin-bottom: 10px;}
.input-span{height: min-content;}
/*encabezado producto*/
#encabezado {background-color: #000; text-align: center; color: white; width: 100%; font-family: 'Coco Gothic'; font-size: 1.5rem; padding-top: 3px; letter-spacing: 3px; margin-bottom: 0.5%;}
#encabezadoAdmin {background-color: #000; text-align: center; color: white; width: 100%; font-family: 'Coco Gothic'; font-size: 1.5rem; padding-top: 3px; letter-spacing: 3px; margin-top: 120px; margin-bottom: 0.5%;}
/*|---------------------------------|*/
/*|       STYLE EDITPRODUCTO        |*/
/*|---------------------------------|*/
.btn-outline-dark:hover{background-color: black !important; color: black; border-color: black;}
input.form-control[type=text]{background: transparent; width: 150px; border: 1px solid white; border-radius: 999em; padding: 4px; color: white; height: 40px; position: relative;}
.input-group-sm input[type=text]{padding-left: 35px;}
.input-group-sm{position: relative; margin-left: 60%;}
#user {top: 0; padding: 9px 8px; color: white; position: absolute; float: left;}
#power{}
#botp{border-radius: 50px; position: absolute; top: 5px; margin-left: 115px; width: 30px; height: 30px; padding: 2px 1px}
/*.row{width: 100% !important; border: none !important;}*/
.input-id{visibility: hidden;}
#imgEdit{width: 50%; height: 50%;}
/*|-----------------------------------|*/
/*|    STYLE ADDPRODUCT IMPUTFILE     |*/
/*|-----------------------------------|*/
.logo {visibility: hidden;  width: 0px; position: relative;}
@media screen and (max-width: 1025px) {.input-group-sm {display: none;}}
@media only screen and (min-width: 1024px) {#btn-circle {display:none;}}
#btn-circle{color: white; background: transparent; border: 0.5px solid white; width: 30px; height: 30px; border-radius: 999em; padding: 2px 2px; margin-left: auto;}
#btn-circle:hover:active{color: black; background: white;}
.table-wrapper-scroll-y{
    display: block;
    max-height: 700px;
    overflow-y: scroll;
    -ms-overflow-style: -ms
}
.fixed-table-header{
    position: fixed;
}
