
/* 
    Created on : 03/07/2019, 17:52:59
    Author     : gusti
*/

.card{
    margin: 10px;
    display: inline-flex;
    width: auto;
    height: auto;
    
}
#card-contenedor{
    padding:  25px;
    display: block;

}
#card-img{
    width: 18rem;
}
.card-header{
    background-color: white;
}
#btneliminar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    margin: 5px;
}
.input-group{margin-bottom: 10px;}
.input-span{height: min-content;}
.input-id{visibility: hidden;}
.logo {visibility: hidden;  width: 0px; position: relative;}

.img-portada{
    width: 250px !important;
}
.botones{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}