/*Fondo*/
#htmlTona {background: black;}
/*Texto footer sta... NO REALIZA NINGUNA FUNCION*/
#txtfooter {color: white; vertical-align: middle;}
/* navbar superior*/
#nav {margin: auto; padding: 10px; background-color: black; border-radius: 0px; width: 100%;}
/*img maniqui TONA*/
#img {width: 16px; height: 40px; display: inline-block; position: absolute; left: 155px; top: 36px; color: white;}
/* style titulo TONA*/
#TONA {color: white; font-family: Ebrima,sans-serif; font-size: 3.2em; text-decoration: none; vertical-align: central;}
/*Style botones producto y contacto*/
.txtbtn {color: #FFF; font-size: 16px; font-family: Ebrima,sans-serif;}
/* Indicador de Carousel*/
.carousel-indicators {top: 87%;}
/*Style menu Galeria y Contacto*/
.aTxtColor:hover {color: white; text-decoration: none;}
.aTxtColor {color: white;}
.aTxtColor:active {color: white;}
/*#imgLO {padding: 15px;}
div.upload {width: 157px; height: 57px; background-color: black; overflow: hidden; border-radius: 5px; text-align: center; color: white;}
div.upload input { display: block !important; width: 157px !important; height: 57px !important; opacity: 0 !important; overflow: hidden !important;}*/
.background-admin{ background: url("/Tona/Image/prueba.jpg");
                    position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat;  }
